body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

h1{
    color: #333;
    font-size: 5em;
    padding: 0px;
    margin-bottom: 0px;
    font-weight: 200;
}

h2{
    color: #9c9c9c;
    padding: 0px;
    margin-bottom: 0px;
}

h3{
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 1em;
}

h4{
    margin-bottom: 0px;
    font-size: 1.5em;
}

p{
    margin-top: 5px;
    font-size: 1em;
}

hr{
    border: 1px solid #e6e6e6;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}

li {
    padding-bottom: 10px;
    font-size: 1em;
}

.container {
    width: 1140px;
    max-width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    height: 300px;
}

.game-container{
    padding-right: 15px;
    padding-left: 15px;
    box-shadow: 0px;
    flex: 0 0 33.3333%;
    max-width: 30%;
    position: relative;
    margin-bottom: 15px;
    z-index: 0;
}

.game-container:hover{
    z-index: 20;
}

.game-container:hover .game-desc{
    background-color: #3e3e3e;
    color: #FFF;
    transition: all 0.3s ease;
    padding: 10px;
    padding-bottom: auto;
    margin: -10px;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.5);
    transform: scale(1.1);
}

.game-container:hover .game-desc-text{
    transition: all 0.3s ease;
    opacity: 1;
    margin-bottom: 10px;
}

.game-desc{
    background-color: #3e3e3e;
    color: #FFF;
    border-radius: 10px;
    transition: all 0.3s ease;
    width: 100%;
    padding: 2px;
    margin: 0px;
    padding-bottom: 4px;
}

.game-desc-text{
    margin-bottom: -70px;
    height: 65px;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

.game-img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.platform-img{
    border-radius: 3px;
    width: 24px;
    height: 24px;
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
    float: left;
}

.platform-img-container{
    display: flex;
    justify-content: left;
    align-items: center;
}

footer {
    background-color: #d6d6d6;
    color: rgb(0, 0, 0);
    width:100%;
    height: 500px;
    margin: 0px;
    padding: 0px;
    margin-top: 200px;
    
}

.footer-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1140px;
}

.column {
    display: flex;
    flex-direction: row;
}   

.w-50{
    width: 50%;
}

.footer-link{
    color: rgb(81, 81, 81);
    text-decoration: none;
    font-size: 1.2em;
}

.footer-link:hover{
    color: #6893ff;
    text-decoration: none;
}

.footer-text{
    color: rgb(81, 81, 81);
    font-size: 1.2em;
    margin-top: 10px;
    text-align: center;
}

.about-title{
    font-size: 4em;
    font-weight: 200;
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;

}

.about-container:hover .about-img{
    filter: grayscale(0%);
    scale: 1.05;
    transition: all 0.2s ease-in-out;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.about-img {
    border-radius: 128px;
    width: 100%;
    height: 100%;
    max-width: 256px;
    max-height: 256px;
    background-color: #e9e9e9;
    filter: grayscale(100%);
    scale: 1;
    transition: all 1s ease-in-out;
}

.w-30 {
    width: 30%;
}

.w-70 {
    width: 70%;
}

.quote {
    font-size: 1.5em;
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

blockquote {
    border:none;
    font-family:Georgia, "Times New Roman", Times, serif;
    margin-bottom:-30px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
font-size:16px;
}

blockquote p:before { 
content: open-quote;
font-size:50px;
color:#8a8a8a;
} 
blockquote p:after { 
content: close-quote;
font-size:50px;
color:#8a8a8a;
  
}